# Server Configuration
# Example: PORT=8080
PORT=3000

# Environment
# Values: development | production
NODE_ENV=development

# Swagger Documentation
# Examples: 
#   Enable in dev: ENABLE_SWAGGER=true
#   Enable in prod: ENABLE_SWAGGER=true NODE_ENV=production
ENABLE_SWAGGER=false